<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link href= "css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mercado Liebre</title>
</head>
<body>

    <header>
            <div class= "mainheader">
            <img src= '/img/logo-mercado-liebre.svg' class="liebre">

            <div class="buscador">
            <div class="searchbar"></div>
                <input  placeholder="Busca productos, marcas y mas" >   
                <button><i class="fas fa-search"></i></button>
        </div>

                
                <p class= "cuerpotexto"> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
            </div>
            <div class= "menu">
            <div class="navbar">
                <ul>
                    <li class= "cuerpotexto"><a href="#">Ofertas</a></li>
                    <li class= "cuerpotexto"><a href="#">Tiendas Oficiales </a></li> 
                    <li class= "cuerpotexto"><a href="#">Vender</a></li> 
                    <li class= "cuerpotexto"><a href="#">Ayuda </a></li> 
                </ul>
            </div>
            <br>
            <div class="loginbar">
                <ul>
                    <li class= "cuerpotexto"><a href="register.html">Crea tu cuenta</a> <i class="fas fa-id-card"></i> </li>
                    <li class= "cuerpotexto"><a href="login.html">Ingresar</a> <i class="fas fa-sign-in-alt"></i> </li>
                    <li class= "cuerpotexto"><a href="#">Mis compras</a> <i class="fas fa-shopping-bag"></i> </li>
                </ul>
            </div>
        </div>
            <br>
            <i id= "hamburguesa" class="fas fa-bars"></i>
    </header>

        <div class = "bannerhome">
                <img src = '/img/img-home-banner.jpg'>
        </div>

    <main>
            
         <h4 class="titulares">Basado en tu ultima visita</h4>
                 <div class= "seccion">     
                 <div class = "imgmain">
                        <img src= '/img/img-cafetera-moulinex.jpg'>
                                <div class= "descripcionmain">
                                        <i id=img class="fas fa-shipping-fast"></i>
                                        <p class="precio">$9850</p>
                                        <p class="descuento">10%</p>
                                        <h5 class="producto">Cafetera Moulinex</h5>
                                </div>
                </div>
                <br>
                <div class= "imgmain">        
                        <img src= '/img/img-tv-samsung-smart.jpg'>
                                <div class= "descripcionmain">
                                        <i id=img class="fas fa-shipping-fast"></i>
                                        <p class="precio">$60850</p>
                                        <p class="descuento">15%</p>
                                        <h5 class="producto">Samsung SmartTV</h5>
                                </div>
                </div>
                <br>
                <div class= "imgmain">
                        <img src= '/img/img-macbook-pro-2019.jpg'>
                                <div class= "descripcionmain">
                                        <i id=img class="fas fa-shipping-fast"></i>
                                        <p class="precio">$80500</p>
                                        <p class="descuento">30%</p>
                                        <h5 class="producto">Macbook Pro 2019</h5>
                                </div>
                
                </div>
                <br>
                <div class= "imgmain">
                        <img src= '/img/img-samsung-galaxy-s10.jpg'>
                                <div class="descripcionmain">
                                        <i id=img class="fas fa-shipping-fast"></i>
                                        <p class="precio">$55900</p>
                                        <p class="descuento">20%</p>
                                        <h5 class="producto">Samsung Galaxy S10</h5>
                                </div>
                </div>

        </div> 
        <h4 class="titulares">Seccion de Ofertas</h4>
        <div class= "seccion">     
                <div class = "imgmain">
                       <img src= '/img/img-cafetera-moulinex.jpg'>
                               <div class= "descripcionmain">
                                       <i id=img class="fas fa-shipping-fast"></i>
                                       <p class="precio">$9850</p>
                                       <p class="descuento">10%</p>
                                       <h5 class="producto">Cafetera Moulinex</h5>
                               </div>
               </div>
               <br>
               <div class= "imgmain">        
                       <img src= '/img/img-tv-samsung-smart.jpg'>
                               <div class= "descripcionmain">
                                       <i id=img class="fas fa-shipping-fast"></i>
                                       <p class="precio">$60850</p>
                                       <p class="descuento">15%</p>
                                       <h5 class="producto">Samsung SmartTV</h5>
                               </div>
               </div>
               <br>
               <div class= "imgmain">
                       <img src= '/img/img-macbook-pro-2019.jpg'>
                               <div class= "descripcionmain">
                                       <i id=img class="fas fa-shipping-fast"></i>
                                       <p class="precio">$80500</p>
                                       <p class="descuento">30%</p>
                                       <h5 class="producto">Macbook Pro 2019</h5>
                               </div>
               
               </div>
               <br>
               <div class= "imgmain">
                       <img src= '/img/img-samsung-galaxy-s10.jpg'>
                               <div class="descripcionmain">
                                       <i id=img class="fas fa-shipping-fast"></i>
                                       <p class="precio">$55900</p>
                                       <p class="descuento">20%</p>
                                       <h5 class="producto">Samsung Galaxy S10</h5>
                               </div>
               </div>
        
    </main>
<br>
<br>
<br>
<br>
    <footer>
            <i id=imgfooter class="fas fa-credit-card"></i>
            <h5 class= "titularesfooter">Paga con tarjeta o en efectivo</h5>
            <p class="descripcionfooter">Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pag. !Y siempre es seguro!</p>
            <br>
            <i id=imgfooter class="fas fa-shipping-fast"></i>
            <h5 class="titularesfooter">Envio gratis desde los $2500</h5>
            <p class="descripcionfooter">Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            <br>
            <i id=imgfooter class="fas fa-user-shield"></i>
            <h5 class="titularesfooter">Seguridad de principio a fin</h5>
            <p class="descripcionfooter">No te gusta? Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@</p>

            <h6>Copyright C 1999-2020 MercadoLiebre S.R.L.</h6>
    </footer>

</body>
</html>