<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link href= "css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mercado Liebre</title>
</head>
<body>

    <header>
            <div class= "mainheader">
            <img src= '/img/logo-mercado-liebre.svg' class="liebre">

            <div class="buscador">
            <div class="searchbar"></div>
                <input  placeholder="Busca productos, marcas y mas" >   
                <button><i class="fas fa-search"></i></button>
        </div>

                
                <p class= "cuerpotexto"> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
            </div>
            <div class= "menu">
            <div class="navbar">
                <ul>
                    <li class= "cuerpotexto"><a href="#">Ofertas</a></li>
                    <li class= "cuerpotexto"><a href="#">Tiendas Oficiales </a></li> 
                    <li class= "cuerpotexto"><a href="#">Vender</a></li> 
                    <li class= "cuerpotexto"><a href="#">Ayuda </a></li> 
                </ul>
            </div>
            <br>
            <div class="loginbar">
                <ul>
                    <li class= "cuerpotexto"><a href="#">Crea tu cuenta</a> <i class="fas fa-id-card"></i> </li>
                    <li class= "cuerpotexto"><a href="login.html">Ingresar</a> <i class="fas fa-sign-in-alt"></i> </li>
                    <li class= "cuerpotexto"><a href="#">Mis compras</a> <i class="fas fa-shopping-bag"></i> </li>
                </ul>
            </div>
        </div>
            <br>
            <i id= "hamburguesa" class="fas fa-bars"></i>
    </header>

        <div class = "bannerhome">
                <img src = '/img/img-home-banner.jpg'>
        </div>

    <main>
        <div class = "registro">
        <form action="home.html" method="GET">
            <p>
              <input class= "casilla" placeholder= "Nombre y Apellido" type="text" name="nombre" required>
            </p>
      
            <p>
                <input class= "casilla" placeholder= "Nombre de Usuario" type="text" name="nombreUsuario" required>
            </p>

            <p class="FN">
                <h5>Fecha de nacimiento</h5>
                <input class= "casilla" placeholder= "Fecha de nacimiento" type="date" name="fechanacimiento" required>
            </p>

            <p>
                <input class= "casilla" placeholder= "Domicilio" type="text" name="Domicilio" required>
            </p>

            <p class="FN">
                <h5>Perfil de usuario</h5>
                <input type="radio" name="perfilUsuario" value="Vendedor"required>Vendedor
                <input type="radio" name="perfilUsuario" value="Comprador" required>Comprador
            </p>

            <p class="FN">
                <h5>Interes</h5>
                <input type="checkbox" name="Interes" value="Electro">Electro
                <br>
                <input type="checkbox" name="Interes" value="Moda" >Moda
                <br>
                <input type="checkbox" name="Interes" value="Hogar" >Hogar
                <br>
                <input type="checkbox" name="Interes" value="Jugueteria" >Jugueteria
                <br>
                <input type="checkbox" name="Interes" value="Vida sana" >Vida sana
            </p>

            <p>
            
              <input class= "casilla" placeholder= "E-mail" type="email" name="email" required>
            </p>
      
            <p>
          
              <input class= "casilla" placeholder= "Contraseña" type="password" name="password" required>
            </p>
      
            <p>
            <!-- campo para el botón de enviar -->
            <button href ="home.html"type="submit", name="ENVIAR", value="ENVIAR">ENVIAR </button>
            <input type="reset", name="BORRAR", value="BORRAR">
            </p>
          </form>
        </div>
    </main>
<br>
<br>
<br>
<br>
    <footer>
            <i id=imgfooter class="fas fa-credit-card"></i>
            <h5 class= "titularesfooter">Paga con tarjeta o en efectivo</h5>
            <p class="descripcionfooter">Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pag. !Y siempre es seguro!</p>
            <br>
            <i id=imgfooter class="fas fa-shipping-fast"></i>
            <h5 class="titularesfooter">Envio gratis desde los $2500</h5>
            <p class="descripcionfooter">Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            <br>
            <i id=imgfooter class="fas fa-user-shield"></i>
            <h5 class="titularesfooter">Seguridad de principio a fin</h5>
            <p class="descripcionfooter">No te gusta? Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@</p>

            <h6>Copyright C 1999-2020 MercadoLiebre S.R.L.</h6>
    </footer>

</body>
</html>